body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

#app {
  
}

#editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 52vw;

  @include mobile {
    width: 100%;
    z-index: 2;
  }

  textarea {
    width: 100%;
    height: 100vh;
    background: #eeeeee;
    padding: 60px;
    font-size: 16px;
    font-family: monospace;
    border: 0;
    resize: none;

    @include mobile {
      padding: 30px 30px 120px;
    }
    
    &:focus {
      outline: none;
    }
  }
}

#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 45px 60px;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;

  @include mobile {
    padding: 30px;
  }

  .icon {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    pointer-events: initial;

    &.toggleSettings {
      margin-left: 20px;

      &:before {
        content: "Settings";
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 12px;
        transform: translate(-50%, -50%);
      }
    }

    &.play, &.edit {
      display: none;

      @include mobile {
        display: block;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 10%;
        width: calc(90% - 1px);
        height: 1px;
        background: $black;
        transform: translateY(-50%);
      }
  
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 30%;
        height: 30%;
        border-top: 1px solid $black;
        border-right: 1px solid $black;
        transform-origin: top right;
        transform: rotate(45deg);
      }
    }

    &.edit {
      transform-origin: center;
      transform: rotate(180deg);
    }
  }
}

.settings {
  overflow: hidden;

  &__grid {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 15px 0;
    display: flex;
    align-items: center;

    select {
      appearance: none;
      background: none;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #888888;
      padding: 5px 0;
      font-size: 12px;
      cursor: pointer;
    }

    input {
      background: none;
      appearance: none;
      border: 0;
      padding: 0;
      margin: 0 10px;
      height: 30px;
      cursor: pointer;
    }

    button {
      background: none;
      appearance: none;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #888888;
      padding: 0;
      font-size: 10px;
      cursor: pointer;
    }
  }
}

#renderer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50vw;
  height: 100vh;
  overflow: auto;
  background: #ffffff;
  padding: 45px 60px 60px;
  font-family: system-ui, sans-serif;
  line-height: 2;
  color: #333333;

  @include mobile {
    padding: 30px 30px 120px;
    width: 100%;
    left: 0;
    right: auto;
  }
  
  hr {
    opacity: 0.5;
    border-style: ridge;
  }
}

.word {
  position: relative;
  cursor: pointer;
  margin: 0 2px;
  display: inline-block;
  
  &__content {
    border-radius: 2px;
    background: var(--highlight, transparent);
    box-shadow: 0 0 0 0.2rem var(--highlight, transparent);
  }
    
  &__hover {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 10px;
    background: white;
    // border: 1px solid pink;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 100;
  }
  
  &:hover &__hover {
    opacity: 1;
  }
}

.Determiner {
  --highlight: #ffde37;
}

.Adjective {
  --highlight: #96ccff;
}

.Verb {
  --highlight: #2DFF9A;
  
  &.Infinitive {
    --highlight: #b8ffe4;
  }
  
  &.PastTense {
    // --highlight: #00eb79;
  }
}

.Noun {
  --highlight: #ff80cc;
  
  &.Singular {
    --highlight: #ff80cc;
  }
  
  &.Plural {
    --highlight: #ffa3d7;
  }
  
  &.Person {
    --highlight: #ffa3d7;
  }
}

.Expression {
  --highlight: #a463f2;
}

.Adverb {
  --highlight: #ff725c;
  
}


